{% extends 'flatpages/default.html' %} 
{% load custom_filters %}
{% load custom_tags %}
{% load tz %}
{% block title %}
Messages
{% endblock title %}
 

{% block content %}
    {{ filterset.form.as_p }}
    {% for model in models %}
    <div class="model-class">
        {{ model.name }} 
    </div>
    {% endfor %}
    <hr>
    {% if messages %}
        <table>
            {% for message in messages %}
            <tr class="{% cycle 'blue' 'white' %}">
                <div class="enjoy-css">
                <h1>{{ message.text }}</h1>
                <h1>Время отправки: {{ message.date }}</h1>
                <h1><a href="/posts/profile/{{ message.sender_id }}">{{ message.sender_id }}</h1></a>
                <h1><a href="{% url 'message_delete' message.id%}">Удалить</a></h1>
            </div>
            </tr>
            {% endfor %}
            

        </table>
    </div>
    {% else %}
        <h2>Сообщений нет!</h2>
    {% endif %}


   {% if page_obj.has_previous %}
   {# Для каждой ссылки пагинации указываем обработку через новый тег #}
   <a href="?{% url_replace page=1 %}">1</a>
   {% if page_obj.previous_page_number != 1 %}
       ...
       <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
   {% endif %}
{% endif %}

{{ page_obj.number }}

{% if page_obj.has_next %}
   <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
   {% if paginator.num_pages != page_obj.next_page_number %}
       ...
       <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
   {% endif %}
{% endif %}

{% endblock content %}