<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %} 
{% load custom_filters %}
{% load custom_tags %}
{% load tz %}
{% block title %}
Posts
{% endblock title %}
 
<!-- В контенте на странице мы выводим все посты -->

{% block content %}
    {% get_current_timezone as TIME_ZONE %}
    <form action="" method="POST">
        {% csrf_token %}
        <label for="timezone">Time zone:</label>
        <select name="timezone">
            {% for tz in timezones %}
            <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected{% endif %}>{{ tz }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Set">
    </form>
 
    {{ TIME_ZONE }}
    {{ current_time|timezone:TIME_ZONE }} <!-- Отображаем время в выбранном часовом поясе  -->
 
    {% for model in models %}
    <div class="model-class">
        {{ model.name }} 
    </div>
    {% endfor %}
   <hr>
   {% if posts %}
       <table>
            <tr class="{% cycle 'blue' 'white' %}">
               <td>Заголовок</td>
               <td>Дата</td>
               <td>Текст</td>
               <td>Тип</td>
               <td>Класс</td>

           </tr>
           

           {% for post in posts %}
           <tr class="{% cycle 'blue' 'white' %}">
               <td><a href="/posts/{{ post.id }}"> {{ post.title|censor }}</a></td>
               <td>{{ post.time|date:'d M Y' }}</td>
               <td>{{ post.text|censor|truncatewords:20 }}</td>
               <td>{{ post.type }}</td>
               <td>{{ post.pclass }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Постов нет!</h2>
   {% endif %}


   {% if page_obj.has_previous %}
   {# Для каждой ссылки пагинации указываем обработку через новый тег #}
   <a href="?{% url_replace page=1 %}">1</a>
   {% if page_obj.previous_page_number != 1 %}
       ...
       <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
   {% endif %}
{% endif %}

{{ page_obj.number }}

{% if page_obj.has_next %}
   <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
   {% if paginator.num_pages != page_obj.next_page_number %}
       ...
       <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
   {% endif %}
{% endif %}

{% endblock content %}